furniture:

placements:
  place default/l_sofa at 2500,2500 in "Living Room"
  place default/coffee_table at 2500,1200 in "Living Room"
  place default/tv_console at 1500,500 in "Living Room"
  place default/round_table at 7500,2000 in "Living Room"
  place default/chair at 6800,2000 in "Living Room"
  place default/chair at 8200,2000 in "Living Room"
  place default/chair at 7500,1300 in "Living Room"
  place default/chair at 7500,2700 in "Living Room"
  place default/floor_lamp at 9600,3600 in "Living Room"
  place default/bookshelf at 9600,2000 in "Living Room" rotation=90
  place default/bed at 1500,6800 in Bedroom
  place default/wardrobe at 3650,6000 in Bedroom rotation=90
  place default/floor_lamp at 400,7600 in Bedroom
  place default/toilet at 4400,6000 in Bathroom
  place default/sink at 5250,7600 in Bathroom
  place default/shower at 5900,5800 in Bathroom
  place default/round_table at 8400,6600 in Sunroom
  place default/chair at 7700,6600 in Sunroom
  place default/chair at 9100,6600 in Sunroom
  place default/bookshelf at 7500,7700 in Sunroom
  place default/floor_lamp at 9400,7500 in Sunroom
