furniture:

placements:
  place default/bed at 800,1100 in Studio
  place default/desk at 4300,400 in Studio
  place default/office_chair at 4300,1000 in Studio
  place default/wardrobe at 600,2500 in Studio
  place default/sofa at 4000,3450 in Studio scale=90,100
  place default/coffee_table at 4000,2800 in Studio
  place default/floor_lamp at 1200,3700 in Studio
