furniture:

placements:
  place default/car at 2400,2300 in Cochera
  place default/sofa at 6185,600 in Estar
  place default/coffee_table at 6185,1300 in Estar
  place default/tv_console at 6185,2900 in Estar
  place default/toilet at 6400,4500 in Toilette
  place default/sink at 7100,4600 in Toilette
  place default/staircase at 4410,6650 in Escalera scale=100,68
  place default/toilet at 5500,5600 in Baño
  place default/sink at 6300,5400 in Baño
  place default/bathtub at 6640,6600 in Baño rotation=90
  place default/table at 1900,9500 in Comedor
  place default/chair at 1200,9500 in Comedor
  place default/chair at 2600,9500 in Comedor
  place default/chair at 1900,8900 in Comedor
  place default/chair at 1900,10100 in Comedor
  place default/bookshelf at 400,10800 in Comedor rotation=90
  place default/sofa at 5700,8400 in Living
  place default/coffee_table at 5700,9100 in Living
  place default/bookshelf at 7200,10500 in Living rotation=90
  place default/floor_lamp at 4200,11200 in Living
  place default/counter at 1900,13850 in Cocina
  place default/fridge at 3350,12400 in Cocina
  place default/stove at 600,13850 in Cocina
  place default/bed at 5700,13050 in Dormitorio
  place default/wardrobe at 4600,12000 in Dormitorio
  place default/floor_lamp at 7200,13800 in Dormitorio
