furniture:

placements:
  place default/sofa at 4200,600 in "Living Room"
  place default/coffee_table at 4200,1300 in "Living Room"
  place default/tv_console at 4200,3675 in "Living Room"
  place default/bookshelf at 400,2000 in "Living Room" rotation=90
  place default/floor_lamp at 5600,350 in "Living Room"
  place default/counter at 7600,500 in Kitchen
  place default/fridge at 9550,500 in Kitchen
  place default/stove at 9550,1400 in Kitchen
  place default/table at 7800,2800 in Kitchen
  place default/chair at 7100,2800 in Kitchen
  place default/chair at 8500,2800 in Kitchen
  place default/chair at 7800,2200 in Kitchen
  place default/chair at 7800,3400 in Kitchen
